@import '@/utils/colors.module.scss';
@import '@/utils/breakpoints.module.scss';

.homeButton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $white;
	font-size: 14px;
	margin: 0px 16px;
	padding: 24px 8px 24px 24px;
	text-decoration: none;

	@include breakpoints('md') {
		margin: 0px;
		padding: 16px 24px;
		max-height: 60px;
	}
}

.homeButtonText {
	color: $white;
	font-size: 24px;
	font-weight: 700;
	margin: 0;

	@include breakpoints('md') {
		font-size: 16px;
	}
}

.homeButtonSubText {
	color: $white;
	font-size: 16px;
	margin: 0;

	@include breakpoints('md') {
		display: none;
	}
}
