@use '@/utils/colors.module.scss' as *;
@use '@/utils/breakpoints.module.scss' as *;

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $black;
	width: 100%;
}

.navigationList {
	display: flex;

	@include breakpoints('lg') {
		display: none;
	}
}

.hamburgerMenu {
	display: none;

	@include breakpoints('lg') {
		display: flex;
	}
}
