@use '@/utils/colors.module.scss' as *;
@use '@/utils/breakpoints.module.scss' as *;
@use '@/utils/animations.module.scss' as *;

.wrapper {
	margin: 0px 128px;
	padding-bottom: 128px;

	@include breakpoints('md') {
		margin: 0px 32px;
		padding-bottom: 32px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.projectContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 24px;

	&:nth-of-type(2) {
		flex-direction: row-reverse;
	}

	@include breakpoints('md') {
		flex-direction: column !important;
	}
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 95%;

	@include breakpoints('md') {
		height: auto;
	}
}

.sectionText {
	color: $primaryColor;
	font-size: 36px;
}

.headerText {
	color: $primaryColor;
	font-size: 24px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.headerSubText {
	color: $grey;
	font-size: 16px;
	padding: 32px 0 0 0;
	margin: 0;
	white-space: pre-line;
}

.iframe {
	flex-grow: 1;
	border: none;
	height: 600px;
	width: 60%;
	-webkit-animation: slide-fwd-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: slide-fwd-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	@include breakpoints('md') {
		width: 100%;
		height: 200px;

		-webkit-animation: slide-fwd-down 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			both;
		animation: slide-fwd-down 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}

	@include breakpoints('lg') {
		height: 300px;
	}
}

.videoInfoContainer {
	width: 40%;
	-webkit-animation: slide-fwd-left 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: slide-fwd-left 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

	@include breakpoints('md') {
		width: 100%;

		-webkit-animation: slide-fwd-down 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			both;
		animation: slide-fwd-down 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}

.viewMoreButton {
	color: $primaryColor;
	font-size: 16px;
	padding: 32px 0 0 0;
	margin: 0;
	text-align: right;
	text-decoration: underline;
	font-weight: 700;
	z-index: 100;

	@include breakpoints('lg') {
		text-align: center;
	}
}

.readMoreLink {
	&:hover {
		cursor: pointer;
	}
}
